<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LSDOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LSDOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LSDOS.My.MySettings>
            <setting name="Version" serializeAs="String">
                <value>1.0.1719</value>
            </setting>
            <setting name="DevModeon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>5882</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </LSDOS.My.MySettings>
    </userSettings>
    <applicationSettings>
        <LSDOS.My.MySettings>
            <setting name="DevPASS" serializeAs="String">
                <value>LsDoS2017.</value>
            </setting>
        </LSDOS.My.MySettings>
    </applicationSettings>
</configuration>